<div class="header-content">
    <h1>{{title}}</h1>
    <div class="sub-text">{{tag}}</div>  
</div>
<div id="steps" *ngIf="route != null">
    <div class="step wake">
        <div class="top wake-top">{{startNomenclature}}</div>
        <div class="bottom area" id="wake-area">{{route.startLocation.area}}</div>
        <div class="bottom room" id="wake-room">{{route.startLocation.location}}</div>
    </div>
    <div *ngFor="let step of route.steps" class="step collect">
        <div class="top collect-top">{{stepNomenclature}}</div>
        <div class="bottom area" id="collect-area">{{step.area}}</div>
        <div class="bottom room" id="collect-room">{{step.location}}</div>
    </div>
    <div class="step escape">
        <div class="top escape-top">{{endNomenclature}}</div>
        <div class="bottom area" id="escape-area">{{route.finalDestination.area}}</div>
        <div class="bottom room" id="escape-room">{{route.finalDestination.location}}</div>
    </div>
</div>
<label style="color: white">Middle Destination Count: </label><input type="number" min="0" max="7" [(ngModel)]="midDestinations"/><br>
<a (click)="generateRound()" class="btn">Regenerate</a><br>
<a [routerLink]="['']" class="btn">Back</a>