<app-options></app-options>
<div class="editor" style="border-color: white; border-style: solid; color: white">
    <div class="label">Game: </div>
    <input class="input-field" type="text" [(ngModel)]="gameInfo.name"/>
    <div></div>
    <div class="label">Tag: </div>
    <input class="input-field" type="text" [(ngModel)]="gameInfo.gameTag"/>
    <div></div>
    <div class="label">Start: </div>
    <input class="input-field" type="text" [(ngModel)]="gameInfo.startNomenclature"/>
    <div></div>
    <div class="label">Steps: </div>
    <input class="input-field" type="text" [(ngModel)]="gameInfo.stepNomenclature"/>
    <div></div>
    <div class="label">End: </div>
    <input class="input-field" type="text" [(ngModel)]="gameInfo.endNomenclature"/>
    <div></div>
    <input type="checkbox" [checked]="gameInfo.isCycle"
    (change)="gameInfo.isCycle= !gameInfo.isCycle"/>
    <div class="label">Cycle Generation</div>
    <div></div>
    <div class="label">Areas:</div>
    <div></div>
    <button class="btn btn-add" (click)="newArea()">+</button>
    <div *ngFor="let area of areas; index as i" class="area-editor">
        <div class="header">
            <div class="label">Name: </div>
            <input type="text" [(ngModel)]="area.name"/>
            <button class="btn btn-remove" (click)="removeArea(area.id)">X</button>
        </div>
        <div class="locations">
            <div class="label">Location:</div>
            <span></span>
            <button class="btn btn-add" (click)="newLocation(area.id)">+</button>
            <div *ngFor="let location of area.locations; index as j"
                class="location">
                <input type="text" [(ngModel)]="location.name"/>
                <button class="btn btn-remove" (click)="removeLocation(location.id)">X</button>
            </div>
        </div>
        <div class="adjacent-areas">
            <div class="label">Adjacent Areas:</div>
            <div *ngFor="let adjacentArea of adjacentAreaOptions(area.id); index as j" class="adjacent-area">
                <input type="checkbox" [checked]="arrayHelper.containsElement(area.adjacentAreas, adjacentArea.id)"
                    (click)="handleAdjacentAreaToggle($event, area.id, adjacentArea.id)"/>
                <div>{{adjacentArea.name}}</div>
            </div>
        </div>
    </div>
</div>
<button (click)="save()" class="btn">Save</button>
<button (click)="saveAndDownload()" class="btn">Save & Download</button>
<br>
<label class="custom-file-upload" class="btn">
    <input type="file" (change)="fileChanged($event)"/>
    Load Config
</label>
<a [routerLink]="['']" class="btn">Back</a>